FACE_API_URL=http://localhost:4000
CAMERA_SHARED_TOKEN=replace_with_camera_shared_token
DATASET_DIR=./dataset
UNKNOWN_SAVE_DIR=./captures/unrecognized
CORS_ORIGINS=http://localhost:8081,http://localhost:8082,http://localhost:19006,http://localhost:5173
MATCH_THRESHOLD=0.50
MAX_IMAGES_PER_PERSON=4
MAX_IMAGE_DIMENSION=640
RECOGNITION_UPSAMPLE_TIMES=1
